*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
  }

body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0px;
    color: #fff;
    background-color: #1a202c;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
}
div { 
    border: 1px solid #000;
}
.header {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    justify-content: space-between ;
    border-radius: 0px 0 12px 12px;
    height: 4%;
    background-color: #2d3748;
    z-index: 1;
    opacity: .9;
}

.logo {
    padding-left: 2%;
    width: 31%;
}
.logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding: 5px 0;
}

.search_area {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.navigation_area {
    width: 31%;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
}
.logo_img {
   max-width: 4vw;
}
.logo_tittle {
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    color: #a5acb7;
    padding-top: 0;
    padding-left: 5px;
}
.nav_tag {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.new_tag_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d3748 ;
    width: 16vw;
    border-radius: 1rem;
    padding: 15px 0;
}
.new_tag_item img {
    width: 3.5vw;
    margin-bottom: 5px;
}
.new_tag_item p {
    font-size: 24px;
}
#search {
    font-size: 1.2em;
    background-color: rgba(203, 213, 224, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: #2d3748;
    
}
#search::-webkit-input-placeholder {
    color: #fff;
}
#search::-moz-placeholder {
    color: #fff;
}
.main {
    padding: 0 40px;
    margin-top: 15px;
}
.slider_container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.slider_container_right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider_container_left {
    display: flex;
    flex-direction: column;
    width: 70vw;
    /* background-color: aqua; */
}
.slider_container_left div {
    flex-basis: 4em;
    /* height: math(100%/4); */
}
.slider_container_left_first {
    background-image: url(images/image11.webp);
    background-repeat: no-repeat ;
    background-size: 100%;
    display: inline-flex;
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;
    opacity: .6 ;
}
.slider_container_4news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.slider_container_4news img {
    width: 5vw;
}
.slider_container_4news div {
    min-width: 50%;
    padding: 2%;
    
}
/* .advertising_container {
    display: flex;
} */
.advertising_container_big {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

}
.advertising_container_min {
display: flex;
justify-content: space-between;
}
.case_container {
    display: flex;
    justify-content: space-between;
}
/* .innovation_container {
    display: flex;
} */
.innovation_container_big {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

}
.innovation_container_min {
display: flex;
justify-content: space-between;
}
/* 
.marketing_container {
    display: flex;
} */
.marketing_container_big {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

}
.marketing_container_min {
display: flex;
justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: space-between;
}